<div class="tabs-header">
  <button mat-button (click)="open('feature-a','Feature A','a')">Feature A</button>
  <button mat-button (click)="open('feature-b','Feature B','b')">Feature B</button>
  <button mat-button (click)="open('feature-c','Feature C','c')">Feature C</button>
</div>

<mat-tab-group
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  cdkDropListElementContainer=".mat-mdc-tab-labels"
  class="example-drag-tabs"
  [mat-stretch-tabs]="false"
  [(selectedIndex)]="tabsSvc.activeIndex"
  (selectedIndexChange)="onActiveChange($event)"
>
  <mat-tab
    *ngFor="let tab of tabsSvc.tabs; let i = index"
  >
    <ng-template mat-tab-label>
        <span
          cdkDrag
          cdkDragPreviewClass="example-drag-tabs-preview"
          cdkDragRootElement=".mat-mdc-tab">{{tab.title}}</span>
    </ng-template>
    <div class="tab-toolbar">
      <span>{{ tab.title }}</span>
      <button mat-icon-button (click)="close(i)" aria-label="Close tab">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Named outlet for this tab -->
    <router-outlet [name]="tab.outlet"></router-outlet>
  </mat-tab>
</mat-tab-group>
