<!--<mat-toolbar color="primary">-->
<!--  <span>My App Tabs</span>-->
<!--  <span class="fill"></span>-->
<!--  <div class="btn-wrapper">-->
<!--    <button mat-raised-button (click)="openFeature('feature-a')" title="Open Feature A">-->
<!--      <span>feature-a</span>-->
<!--    </button>-->
<!--    <button mat-raised-button (click)="openFeature('feature-b')" title="Open Feature B">-->
<!--      <span>feature-b</span>-->
<!--    </button>-->
<!--    <button mat-raised-button (click)="openFeature('feature-c')" title="Open Feature C">-->
<!--      <span>feature-c</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</mat-toolbar>-->


<!--<div class="content">-->
<!--&lt;!&ndash;  <app-tabs></app-tabs>&ndash;&gt;-->
<!--  <app-tabs-page></app-tabs-page>-->
<!--</div>-->

<router-outlet></router-outlet>
